configuration {
  display-drun: "软件:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  modi: "window,run,drun";
  font: "Hack Nerd Font 24";
  icon-theme: "Tela";
  show-icons :true;
}

@theme "~/.config/rofi/dark.rasi"


